# Compilados de Java
bin/
*.class

# Configuraciones de editores e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Carpetas generadas en ejecución
grupo4-publicador-*/
grupo4-suscriptor-*/